.nav {
    display: flex;
    background-color: #F2B042;
    color: rgb(3,35,50);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.hidden {
    display: none;
}
